# LINE Messaging API
LINE_CHANNEL_ACCESS_TOKEN=DdWUN7TENrisDByhzca+3xRvCCz+Xo4dZkOJYHwnzEpvm5S56tnmHF9EuFhHUk3Wm5S0c1UQVRRnGahLFSBJfh5iu5edLKyZDjWqFiGx/osAokveRK6t8BBuZ3VkBqUKBnTY9aiL/xe9MlU2LI/ThgdB04t89/1O/w1cDnyilFU=
LINE_CHANNEL_SECRET=560d44cf4a4998d9f9652218936897a0

# Ollama
OLLAMA_URL=http://localhost:11434
OLLAMA_MODEL=qwen2.5:latest

# Google Sheets
GOOGLE_SHEET_CREDENTIALS_JSON={"type":"service_account","project_id":"..."}
GOOGLE_SHEET_ID=1UtjheMS16Ds2uROcbigsLwZ_pnpk5ZqAPq2bYa4FUzY

# Server
PORT=8000
